body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    position: absolute;

}
ul {
     list-style-type: none;
     overflow: hidden;
     margin: 0;
     padding: 0;

    
}

li {
    float: left;
    display: block;
    text-align: center;
    margin: 10px;
    background-color: #2065c0;
    height: 100px;
    width: 100px;
}

li div {
    height: 90px;
}

#footer {
    font-size: 10px;
    text-align: center;

}

h1  {
    text-align: center;
}

#art {
    text-align: right;
}

#navigation li {
    height: 30px;
    width: 33.33333%;
    margin: 0;
    padding: 0;
    color: white;
  
}

#navigation li:hover {
    background-color:  #144381;
}

#intro_container {
    background-color: rgb(219, 219, 219);
    border-radius: 5px;
    box-shadow: 0px 5px 5px grey;
    padding: 20px;
}

ul li {
    box-shadow: 5px 5px 5px grey;
}

#aboutMe {
    text-indent: 20px;
}
#aboutMe::first-letter {
    font-size: 30px;
}